.contact {
  min-height: 110vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fff;
}
.line {
  width: 380px;
  margin-block: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.line span {
  background-color: #2c3e50;
  width: 100px;
  height: 2px;
}
input {
  outline: none;
  border: none;
  border-bottom: 1px solid #2c3e5071 !important;
  border-radius: 5px;
  padding: 10px;
  width: calc(500px + 15vw);
  margin-bottom: 10px;
  box-shadow: none !important;
  transition: 0.3s;
}
input:focus {
  border-bottom: 2px solid #1abc9c !important;
}
.input-box {
  overflow: hidden;
}
button {
  background-color: #1abc9c;
  color: #fff;
}
button:hover {
  background-color: #2c3e50;
  color: #fff;
}

.goTop {
  top: 40px !important;
  opacity: 0;
  transition: 0.3s ease;
}
.color {
  color: #1abc9c;
}
label {
  transition: 0.3s ease;
  padding-left: 10px;
  margin: 5px;
  color: #1abc9c !important;
}
@media (max-width: 700px) {
  .input-box {
    max-width: 500px;
  }
}
